DATA_SOURCE_URI="127.0.0.1:{{POSTGRES_EXPORTER_POSTGRES_PORT}}/{{POSTGRES_EXPORTER_POSTGRES_DBNAME}}?sslmode={{POSTGRES_EXPORTER_POSTGRES_SSLMODE}}"
DATA_SOURCE_USER="{{POSTGRES_EXPORTER_POSTGRES_USER}}"
DATA_SOURCE_PASS="{{POSTGRES_EXPORTER_POSTGRES_PASSWORD}}"