user www-data;
worker_processes auto;
error_log /apps/nginx_log/error.log;
pid /run/nginx.pid;

include /etc/nginx/modules-enabled/*.conf;
events {
    worker_connections 2048;
}

worker_rlimit_nofile 32768;

http {
    log_format syslog '{'
        '"@timestamp": "$time_iso8601",'
        '"@fields": {'
            '"server_addr": "$server_addr",'
            '"hostname": "$hostname",'
            '"http_x_forwarded_for": "$http_x_forwarded_for",'
            '"remote_addr": "$remote_addr",'
            '"remote_port": "$remote_port",'
            '"remote_user": "$remote_user",'
            '"request": "$request",'
            '"request_method": "$request_method",'
            '"scheme": "$scheme",'
            '"server_name": "$server_name",'
            '"server_port": "$server_port",'
            '"server_protocol": "$server_protocol",'
            '"http_referer": "$http_referer",'
            '"request_uri": "$request_uri",'
            '"args": "$args",'
            '"body_bytes_sent": "$body_bytes_sent",'
            '"status": "$status",'
            '"request_time": "$request_time",'
            '"upstream_response_time": "$upstream_response_time",'
            '"upstream_addr": "$upstream_addr",'
            '"http_user_agent": "$http_user_agent",'
            '"https": "$https"'
        '}'
    '}';

#    access_log syslog:server=app-otdzbxsrv.idc.nspk.ru,tag=nginxpmp,severity=info syslog;
#    error_log syslog:server=app-otdzbxsrv.idc.nspk.ru,tag=nginxpmp,severity=info;

    log_format  main  '$remote_addr - $remote_user [$time_iso8601_p1.$millisec+$time_iso8601_p2] $http_X_Trace_Id "$request" '
                      '$status $request_time $upstream_response_time "$http_referer" '
                      '$scheme $server_name $server_addr $server_port '
                      '"$http_user_agent" "$http_x_forwarded_for" "$http_ssl_client_cert_subjectdn" $body_bytes_sent "$request_body" "$http_Cookie" "$upstream_http_location" '
                                          '"$http_ccrt_sn" "$http_ccrt_issuer" "$http_ccrt_notbefore" "$http_ccrt_notafter"';

    map $time_iso8601 $time_iso8601_p1 {
        ~([^+]+) $1;
    }

    map $time_iso8601 $time_iso8601_p2 {
        ~\+([0-9:]+)$ $1;
    }

    map $msec $millisec {
        ~\.([0-9]+)$ $1;
    }

    map $http_x_forwarded_for $allowed_access {
        195.208.109.190 1;
        default 0;
    }

    access_log  /apps/nginx_log/access.log  main;

    include             /etc/nginx/mime.types;
    include             /etc/nginx/conf.d/mirage_portal.conf;
    include             /apps/mtail/progs/nginx.conf;
    default_type        application/octet-stream;
    large_client_header_buffers 4 1024k;
    server_tokens off;
    server_name_in_redirect on;



    # Mirage Portal
    upstream miragelk {
        server {{ upstream }}:443;
    }
}


